// Place all the styles related to the public/books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import './color';
@import './template';
@import './slider';


.books {
  @include page();
  &__contents{
    @include container;
  }
  &__newCreate{
    @include flex(ro);
    width: 50%;
    background-color: $mainColor_public;
    text-align: center;
    margin: 0 50px 0 auto;
    padding: 5px 30px;
    &__text {
      display: inline-block;
      color: $wt;
      padding: 10px 20px;
      margin-left: auto;
    }
    &__btn {
      display: inline-block;
      margin-right: auto;
    }
    &__link {
      display: inline-block;
      background-color: $subColor_public;
      color: $wt;
      padding: 10px 20px;
      text-decoration: none;
    }
  }
  &__newLineup {
    @include flex(ce);
    height: 270px;
    background-color: $subColor_public;
    margin: 50px auto;
    &__items {
      height: 250px;
      width: 100%;
      padding: 30px 50px;
    }
    &__item{
      text-decoration: none;
      height: 200px;
      width: 300px;
      background-color: $wt;
      opacity: 0.5;
      margin: 0 5px;
      &:hover {
        position: relative;
      }
      &__image {
        height: 200px;
        width: 280px;
      }
      &__data {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width:  230px;
        background-color: rgba($wt, 0.6);
        padding: 10px;
        &__text {
          border-bottom: 1px solid $borderColor_gray;
          & p {
            color: black;
            padding: 2px 0;
            margin-left: 20px;
          }
        }
      }
    }
  }
  &__recommend {
    height: 300px;
    width: 90%;
    background-color: yellow;
    margin: 50px auto;
  }
  &__ranking {
    height: 300px;
    width: 90%;
    background-color: green;
    margin: 50px auto;
  }
}

.book{
  @include page();
  &__container {
    @include container;
  }
  &__items {
    @include flex(ro);
    justify-content: center;
    &__image {
      height: 300px;
        width: 30%;
      &__data {
        height: 300px;
        width: 100%;
      }
    }
    &__list {
      width: 30%;
      margin-left: 50px;
      &__data {
        border-bottom: 1px solid $borderColor_gray;
        & p {
          height: 40px;
          line-height: 40px;
          margin-left: 20px;
        }
      }
    }
  }
}

.bookNew {
  @include page();
  &__header {
    width: 90%;
    height: 50px;
    background-color: $mainColor_public;
    margin-bottom: 50px;
    &__text {
      color: $textColor_main;
      padding-left: 50px;
    }
  }
  &__container{
    @include container;
  }
  &__contents{
    @include flex(ce);
  }
  &__selectImage {
    width: 30%;
  }
  &__form {
    display: inline-block;
    width: 70%;
    @include flex(co);
    justify-content: center;
    &__items {
      border: 1px solid rgba($mainColor_public, 0.5);
      border-bottom: none;
    }
    &__item{
      @include flex(ro);
      border-bottom: 1px solid rgba($mainColor_public, 0.5);
      border-collapse: collapse;
      &__tag {
        width: 200px;
        background-color: $mainColor_public;
        color: $textColor_main;
        text-align: right;
        line-height: 50px;
        border-right: 1px solid rgba($mainColor_public, 0.5);
        &__attention {
          display: inline-block;
          width: 50px;
          height: 30px;
          font-size: 13px;
          background-color: red;
          text-align: center;
          line-height: 30px;
          border-radius: 10px;
          margin: 0 10px;
          &__none {
            display: inline-block;
            width: 50px;
            margin: 0 10px;
          }
        }
      }
      &__textBox {
        @include flex(ro);
        width: 500px;
        padding: 10px;
        & input {
          width: 300px;
        }
        & textarea {
          height: 200px;
          width: 400px;
        }
      }
      &__btn {
        @include btn();
      }
    }
    &__btn {
      margin-top: 10px;
      text-align: center;
    }
  }
}
