%div{class: "follow__#{user.id}"}
  - if current_user.relationships.find_by(followed_id: user.id)
    = link_to user_relationships_path(user), method: :delete, class: 'followIcon', remote: true do
      フォロー中
  - else
    = link_to user_relationships_path(user), method: :post, class: 'followIcon__none', remote: true do
      ＋フォロー
