$mainColor_public: blue;
$subColor_public: #6BB8FF;

$mainColor_admin: #1c6639;
$subColor_admin: green;

$textColor_main: white;

$borderColor_public: rgba($subColor_public, 0.5);
$borderColor_admin: rgba($subColor_admin, 0.5);

$borderColor_gray: rgb(200, 200, 200);

$colorEdit: #FF8B42;
$colorDelete: #FF566F;
$colorSubmit: #6bb8ff;


$wt: white;
$light_gray: rgb(220, 220, 220);