@import './color';

.slider .slick-arrow {
  width: 100px;
  height: 100px;
  // border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}
.slick-prev:before,
.slick-next:before {
  color: $wt;
}
.slider .slick-center {
  opacity: 1;
  width: 300px;
  & .books__newLineup__item__data {
    width: 280px;
  }
}
.slider .slick-dots {
  position: static;
}