$breakpoint: (
  lg: 'screen and(min-width: 901px)',
  md: 'screen and(max-width: 900px) and(min-width: 551px)',
  sm: 'screen and(max-width: 550px)'
);

@mixin mp($bp) {
  @media #{map-get($breakpoint, $bp)}{
    @content;
  }
}

$flex: (
  ce: 'center',
  ro: 'row',
  co: 'column'
);

@mixin flex($dir) {
  @if $dir == ("row" or "column"){
    display: flex;
    flex: #{map-get($flex, $dir)}
  }
  @else if $dir == center {
    justify-content: #{map-get($flex, $dir)};
  }
}

