$breakpoint: (
  lg: 'screen and(min-width: 901px)',
  md: 'screen and(max-width: 900px) and(min-width: 551px)',
  sm: 'screen and(max-width: 550px)'
);

@mixin mp($bp) {
  @media #{map-get($breakpoint, $bp)}{
    @content;
  }
}

$flex: (
  ce: 'center',
  ro: 'row',
  co: 'column'
);

@mixin flex($dir){
  display: flex;
  @if $dir == ("ro" or "co"){
    flex: #{map-get($flex, $dir)}
  }
  @else if $dir == "ce" {
    justify-content: #{map-get($flex, $dir)};
  }
}

@mixin btn($bColor: $mainColor_public){
display: inline-block;
text-decoration: none !important;
width: 100px;
height: 40px;
color: $textColor_main;
background-color: $bColor;
text-align: center;
line-height: 40px;
border-radius: 10px;
border: none;
}

@mixin page($bColor: $subColor_public){
  width: 90%;
  background-color: rgba($bColor, 0.8);
  margin: 50px auto;
  padding: 100px 0;
}

@mixin container{
  width: 90%;
  background-color: $wt;
  margin: 0 auto;
  padding: 50px
}

