$breakpoint: (
  lg: 'screen and(min-width: 901px)',
  md: 'screen and(max-width: 900px) and(min-width: 551px)',
  sm: 'screen and(max-width: 550px)'
);

@mixin mp($bp) {
  @media #{map-get($breakpoint, $bp)}{
    @content;
  }
}

$flex: (
  ce: center,
  ro: row,
  co: column
);

@mixin flex($dir){
  display: flex;
  @if $dir == ro or $dir == co {
    flex-direction: #{map-get($flex, $dir)}
  }
  @else if $dir == ce {
    justify-content: #{map-get($flex, $dir)};
  }
}

@mixin page($bColor: $subColor_public){
  width: 90%;
  background-color: rgba($bColor, 0.8);
  margin: 50px auto;
  padding: 100px 0;
}

@mixin container{
  width: 90%;
  background-color: $wt;
  margin: 0 auto;
  padding: 50px
}

@mixin heading($bColor: $mainColor_public) {
  width: 90%;
  height: 50px;
  background-color: $bColor;
  color: $textColor_main;
  line-height: 50px;
  padding-left: 50px;
  margin-bottom: 50px;
}

@mixin btn($bColor: $mainColor_public, $height: 40px, $width: 100px){
  display: inline-block;
  text-decoration: none !important;
  font-size: 16px;
  height: $height;
  width: $width;
  color: $textColor_main;
  background-color: $bColor;
  text-align: center;
  line-height: $height;
  border-radius: 5px;
  border: none;
}

@mixin tableBorder($color: $mainColor_public) {
  border: 1px solid rgba($mainColor_public, 0.3);
  border-collapse: collapse;
}

@mixin formTag_public($bColor: $mainColor_public, $height: 50px,) {
  width: 200px;
  height: $height;
  background-color: $bColor;
  color: $textColor_main;
  text-align: center;
  line-height: $height;
}

@mixin formTextBox($width: 500px, $padding: 10px) {
  width: $width;
  padding: $padding;
}

