/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import './color';
 @import './template';

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Toppan Bunkyu Midashi Gothic","凸版文久見出しゴシック";
}

img {
  padding: 0 !important;
  margin: 0 auto !important;
}
input[type = text] {
  width: 300px;
}

textarea {
  height: 200px;
  width: 400px;
}


.error{
  &__form{
    border: 2px solid red;
  }
  &__text {
    height: 30px;
    font-size: 13px;
    color: red;
    margin-left: 20px;
    line-height: 30px;
  }
}
.hidden {
  display: none;
}

body{
    background-image: image-url("background_image.jpg");
    background-attachment: fixed;
    background-color: rgba($wt,0.7);
    background-blend-mode: soft-light;
}

.bottom {
  width: 100%;
  height: 150px;
  background-color: $mainColor_public;
  @include flex(ce);
  &__text {
    width: 20%;
    height: 50px;
    color: $textColor_main;
    text-align: center;
    margin: 50px auto;
  }
}


.publicPage {
  @include page;
  &__container {
    @include container;
  }
}

.adminPage {
  @include page($subColor_admin);
  &__container {
    @include container;
  }
}

.form {
  &__header {
    @include heading;
    margin-bottom: 50px;
    &--admin {
      @include heading($mainColor_admin);
      margin-bottom: 50px;
    }
  }
  &__contents {
    @include flex(ce);
  }
  &__image {
    width: 30%;
    text-align: center;
    &__data {
      object-fit: cover;
    }
    &__text {
      @include formTag_public(gray, 30px);
      margin: 0 auto;
    }
  }
  &__items {
    @include form_table;
    &--admin {
      @include form_table($borderColor_admin);
    }
  }
  &__item {
    @include form_tr;
    &--admin {
      @include form_tr($borderColor_admin);
    }
    &__label {
      @include form_th;
      &--admin {
        @include form_th($mainColor_admin, $borderColor_admin);
      }
    }
    &__required {
      display: inline-block;
      width: 50px;
      height: 30px;
      font-size: 13px;
      background-color: red;
      text-align: center;
      line-height: 30px;
      border-radius: 10px;
      margin: 0 10px;
      &--none {
        width: 50px;
        margin: 0 10px;
      }
    }
    &__textarea {
      @include form_td
    }
  }
  &__checkBox {
    text-align: center;
    margin-top: 10px;
  }
  &__action {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    &__btn {
      @include formBtn;
      &--admin {
        @include formBtn($colorSubmit);
      }
      &--cancel {
        @include formBtn($colorDelete);
      }
    }
  }
}





