.books
  .books__container
    .books__contents
      .books__newCreate
        .books__newCreate__text
          %p お探しの本がない場合はこちらから
        .books__newCreate__btn
          =link_to "登録", public_books_new_path, class: "books__newCreate__link"
      .books__newLineup
        .books__newLineup__items
      .books__recomend
        .books__recomend__items
      .books__ranking
        .books__ranking__items
