.books
  .books__container
    .books__contents
      .books__newCreate
        .books__newCreate__text
          %p お探しの本がない場合はこちらから
        .books__newCreate__btn
          =link_to "登録", new_book_path, class: "books__newCreate__link"
      .books__newLineup
        .books__newLineup__items.slider
          -@books.each do |book|
            =link_to book_path(book), class: "books__newLineup__item" do
              =attachment_image_tag book, :image, fallback: "no_image_book.jpeg", class: 'books__newLineup__item__image'
              .books__newLineup__item__data
                .books__newLineup__item__data__text
                  %p=book.name
                .books__newLineup__item__data__text
                  %p=book.writer
                .books__newLineup__item__data__text
                  %p=book.category.name
                .books__newLineup__item__data__text
                  %p=book.genre.name
      .books__recommend
        .books__recommend__items
      .books__ranking
        .books__ranking__items

  =javascript_include_tag "slider.js"
