.publicPage
  .publicPage__container

    .form__header#pageTop
      %h1.form__header__text 新規登録

    .form__contents
      .form__image
        = attachment_image_tag @book, :image, :fill , 300, 300,format: "jpg", fallback: "no_image_book.jpg", size: "300x300", id: 'newCurrentImage', class: 'bookNew__selectImage__data'
      =form_with model: @book, url: books_path, id: "bookNewForm", method: :create, local: true do |f|
        %table.form__items

          %tr.form__item
            %th.form__item__label
              =f.label :image, "画像"
              %span.form__item__required--none
            %td.form__item__textarea
              =f.attachment_field :image, direct: true, presigned: true, id: 'newImage'

          %tr.form__item
            %th.form__item__label
              =f.label :name, "タイトル"
              %span.form__item__required 必須
            %td.form__item__textarea.validation__formBox
              =f.text_field :name, class: "validation__form"
              %p

          %tr.form__item
            %th.form__item__label
              =f.label :writer, "作者"
              %span.form__item__required 必須
            %td.form__item__textarea
              =f.text_field :writer, class: "validation__form"
              %p

          %tr.form__item
            %th.form__item__label
              =f.label :category_id, "カテゴリ"
              %span.form__item__required 必須
            %td.form__item__textarea
              =f.collection_select(:category_id, @categories, :id, :name)

          %tr.form__item
            %th.form__item__label
              =f.label :genre_id, "ジャンル"
              %span.form__item__required 必須
            %td.form__item__textarea
              =f.collection_select(:genre_id, @genres, :id, :name)

          %tr.form__item
            %th.form__item__label
              =f.label :content, "内容"
              %span.form__item__required--none
            %td.form__item__textarea
              =f.text_area :content

        .form__action
          =f.submit "登録", class: "form__action__btn", id: "bookNewBtn"



  =javascript_include_tag "validation.js"
  =javascript_include_tag "formImage_preview.js"
