.bookNew
  .bookNew__container

    .bookNew__header
      %h1.bookNew__header__text 新規書籍登録

    .bookNew__contents
      .bookNew__form
        =form_with model: @book, url: books_path, id: "bookNewForm", method: :create, local: true do |f|
          %table.bookNew__form__items
            %tr.bookNew__form__item
              %th.bookNew__form__item__tag
                %p
                  書籍名
                  %span.bookNew__form__item__tag__attention 必須
              %td.bookNew__form__item__textBox.validation__formBox
                =f.text_field :name, class: "validation__form"
                %p
            %tr.bookNew__form__item
              %th.bookNew__form__item__tag
                %p
                  作者
                  %span.bookNew__form__item__tag__attention 必須
              %td.bookNew__form__item__textBox
                =f.text_field :writer, class: "validation__form"
                %p
            %tr.bookNew__form__item
              %th.bookNew__form__item__tag
                %p
                  内容
                  %span.bookNew__form__item__tag__attention__none
              %td.bookNew__form__item__textBox
                =f.text_area :content

          .bookNew__form__btn

            =f.submit "登録", class: "bookNew__form__item__btn", id: "bookNewBtn"
  =javascript_include_tag "validation.js"
