.book
  .book__container
    .book__contents
      .book__items
        .book__items__image
        .book__items__list
          .book__items__data= @book.name
          .book__items__data= @book.writer
          = link_to "削除", book_path, method: :delete

