= form_with model: formModel, url: formPath, method: formMethod local: true do |f|
  %table.form__itemList
   -if colum1.present?
      %tr.form__item
        %th.form__item__tag
          =f.label colum1, labelName
        %td form__item__textBox
          =f.text.field colum1

   -if colum2.present?
      %tr.form__item
        %th.form__item__tag
          =f.label colum1, labelName
        %td form__item__textBox
          =f.text.field colum1

   -if colum1.present?
      %tr.form__item
        %th.form__item__tag
          =f.label colum1, labelName
        %td form__item__textBox
          =f.text.field colum1

   -if colum1.present?
      %tr.form__item
        %th.form__item__tag
          =f.label colum1, labelName
        %td form__item__textBox
          =f.text.field colum1

   -if colum1.present?
      %tr.form__item
        %th.form__item__tag
          =f.label colum1, labelName
        %td form__item__textBox
          =f.text.field colum1

   -if colum1.present?
      %tr.form__item
        %th.form__item__tag
          =f.label colum1, labelName
        %td form__item__textBox
          =f.text.field colum1
